@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.table-wrapper{
  width:100%;
  font-size: 16px;
  overflow-x: auto;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 0 30px 2px rgba(0,0,0,0.1);
  margin-left: auto;
  padding: 1rem;
  border-radius: 32px;
}
table{
  width: 100%;
}
td,th{
  border: .5px solid gray;
  padding: 0 2rem 0 2rem;
  margin: 10px;
  text-align: center;
}
span{
  font-style: italic;
}
.table-wrapper th:nth-child(5),
.table-wrapper td:nth-child(5) {
  width: 15%; /* Adjust as needed */
}

@media screen and (max-width:600px) {
  .table-wrapper{
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    border-radius: 0;
  }
  table{
    margin-bottom: 10px;
  }
  td{  
     .button{
      margin: 5px;
    }
  }
  td,th{
    /* padding: 20px; */
    max-width: max-content;
    font-size: 14px;
  }
  
}